.numbers-panel {
  margin: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: var(--table-cell-generated-color);
}

.numbers-panel__item {
  cursor: pointer;
  width: 3rem;
  transition: transform ease 175ms;
  will-change: transition;
}

@media screen and (min-width: 1024px) {
  .numbers-panel__item:hover {
    transform: scale(1.3);
  }
}

.numbers-panel__item_hidden {
  transition: transform ease 770ms;
  transform: scale(0);
  pointer-events: none;
}