.game-board {
  border: 3px solid var(--board-border-color);
  font-size: 2rem;
  user-select: none;
}

.game-board__row {
  display: flex;
  margin: 0;
}

.game-board__row:nth-child(3n):not(:last-child) {
  border-bottom: 3px solid var(--board-border-color);
}

.game-board__row:not(:nth-child(3n)) .game-board__cell {
  border-bottom: 1px solid var(--board-cell-border-color);
}

.game-board__cell {
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
  vertical-align: middle;
  background-color: rgba(134, 140, 245, 0);
  transition: background-color ease 0.18s;
  will-change: background-color;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .game-board__cell {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 1.9rem;
  }
}

.game-board__cell_generated {
  color: var(--board-cell-generated-color);
  pointer-events: none;
}
.game-board__cell_wrong {
  color: rgba(255, 71, 71, 0.85);
}

.game-board__cell_selected {
  background-color: rgba(134, 140, 245, 0.85);
}

.game-board__cell:not(:last-child) {
  border-right: 1px solid var(--board-cell-border-color);
}

.game-board__cell:not(.game-board__cell_generated) {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .game-board__cell:not(.game-board__cell_generated):not(
      .game-board__cell_selected
    ):hover {
    background-color: rgba(163, 167, 238, 0.5);
  }
}

.game-board__cell:nth-child(3n):not(:last-child) {
  border-right: 3px solid var(--board-border-color);
}
