.game-panel {
  text-align: center;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.game-panel__level-select {
  border: none;
  display: flex;
  padding: 0;
  align-items: end;
}

.game-panel__level-select label {
  cursor: pointer;
  padding: 0 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: border-color ease 470ms;
}

.game-panel__level-select label:has(input:checked) {
  border-color: var(--board-border-color);
}

.game-panel__level-select input {
  display: none;
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .game-panel {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .game-panel__new-game, .game-panel__level-select, .game-panel__level-select label {
    flex: 1;
  }
}